.project_container {
    margin-top: 5rem;
}

.project_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 5rem;
}

.project_card {
    line-height: 1rem;

    margin: 2rem auto;
    max-width: 200px;
    width: 100%;
    border-radius: 10px;
    padding: 1rem;
    background: linear-gradient(90deg, #dedeff, #efdbff, #d4e6ff);
}

.github_loading {
    font-size: 2rem;
}

@media screen and (max-width: 768px) {
    .project_grid {
        grid-template-columns: 1fr 1fr;
    }

    .project_card {
        max-width: 150px;
    }

    .project_card h3 {
        font-size: 1rem;
    }
}