.project_container {
    margin-top: 5rem;
}

.project_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 5rem;
}

.project_card {
    line-height: 1rem;
    margin-top: 2rem;
}