.cv_container {
    text-align: left;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 5rem;
    border: solid 2px;
}

.cv_section {
    padding: 1rem;
}

.cv_personal_info {
    padding: 0 1rem;
    text-align: center;
}

.cv_item {
    line-height: 1rem;
}

.cv_item p {
    line-height: 1.5rem;
}

.cv_container h1 {
    text-align: center;
}

@media screen and (max-width: 768px) {
    .cv_container {
        padding: 0.5rem;
    }
}