.cv_container {
    text-align: left;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 5rem;
    background: linear-gradient(90deg, #dedeff, #efdbff, #d4e6ff);
    border-radius: 10px;
}

.cv_section {
    padding: 0.75rem 2rem;
}

.cv_section h2 {
    color: #6666ff;
}

.cv_personal_info {
    padding: 0 2rem;
    text-align: center;
}

.cv_item {
    line-height: 1rem;
}

.cv_item p {
    line-height: 1.5rem;
}

.cv_container h1 {
    text-align: center;
    padding-top: 1rem;
}

.dotnet {
    color: #6666ff;
}

@media screen and (max-width: 1050px) {
    .cv_container {
        padding: 0.5rem;
        width: 90%;
    }
}