.cv_container {
    text-align: left;
    max-width: 700px;
    margin: 0 auto;
    margin-top: 5rem;
}

.cv_item {
    line-height: 1rem;
}

.cv_item p {
    line-height: 1.5rem;
}

.cv_container h1 {
    text-align: center;
}

@media screen and (max-width: 768px) {
    .cv_container {
        padding: 0.5rem;
    }
}