#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.navbar {
  background-color: #003380;
  padding: 12px 30px;
  border-radius: 50px;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  gap: 2em;
  padding: 0;
  font-size: 1.5rem;
}

.navbar a {
  color: white;
  font-weight: 650;
}